.main-with-border {
    border: solid 2px;
    border-radius: 10px;
}

@media screen and (max-width: 600px) {
    .main-with-border {
        border: solid 1px;
        border-radius: 10px;
        font-size: 14px;
        font-family: 'Century Gothic';

    }
  }

.title-block {
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Wiguru 1';
    padding: 10px 10px 1px;
}

@media screen and (max-width: 600px) {
    .title-block {
        font-size: 16px;
    }
  }

.description-fo-the-block {
    padding: 1px 10px 1px;

}

.second-stage-description {
    padding: 1px 10px 10px;
}

.main-container {
    display: flex;
    justify-content: left;
    
}

.final-block {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-left: 250px;
    padding-top: 20px;
}


@media screen and (max-width: 600px) {
    .final-block {
        display: block;
        padding-top: 20px; 
        padding-left: 0px;
       
    }
  }